@page "/tabs"
@using Infinity.Web.Components

<h3>TimelinePage</h3>

<div class="p-2" style="width: 800px;">

    <TabControl>
        <TabItem Text="Ticket Events">
            <Header>
                Ticket Events
            </Header>
            <Content><span style="color:red; font-weight: bold;">TODO</span></Content>
        </TabItem>
        <TabItem>Tab2</TabItem>
        <TabItem>Tab3</TabItem>
    </TabControl>

</div>

@code {

}
