@import "../../Styles/variables.scss";

/*.timeline {
    position: relative;
    display: flex;
}

.timeline-vertical {
    padding-top: 24px;
    flex-direction: column;

    &::before {
        top: 0;
        bottom: 0;
        content: "";
        height: 100%;
        position: absolute;
        width: 2px;
        background: $mainColor;
    }
}

.timeline-horizontal {
    flex-direction: row;
}
*/